.singleImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 16px 0;
}

.singleImage {
  width: 200px; /* 또는 원하는 크기 */
  height: 120px; /* 비율에 맞춰 설정 */
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}