.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 수직 중앙 정렬 */
  width: 100%;
  padding: 16px 0;
  gap: 30px;
  max-height: 700px;
  overflow-x: cover;
  background-color: #fff;
}


.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
  padding: 0 16px;
}

.reviewsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 */
  gap: 16px;
  padding: 0 16px;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
}

.reviewsList::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.sortButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.sortButtons button {
  padding: 8px 12px;
  background-color: #eee;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: 500;
}

.sortButtons button:hover {
  background-color: #ddd;
}

.sortButtons .active {
  background-color: #4caf50; /* 선택된 버튼 색상 (초록) */
  color: white;
  font-weight: bold;
}


